<div class="container">

  <div class="row mt-5">
    <div class="col-md-6">
      <h2 class="m-0">Nombre  </h2>
      <p class="text-black-50">Lista de todas las tareas Pendientes</p>
    </div>
    <div class="col-md-6">
      <div class="d-grid gap-1 d-md-flex justify-content-md-end">
        <app-new-task></app-new-task>
        <i class='bx bx-exit text-danger py-1' style="font-size: 2rem;"></i>

        <!-- <button class="btn btn-danger" type="button">
          <i class='bx bx-exit'></i>
        </button> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card border-0">
        <div class="card-body">
          Pendientes
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-md-3">
    <app-card-task></app-card-task>
  </div>
</div>

