<div class="col-md-3">
  <div class="card p-3 border-0">
    <div class="card-title p-2 m-0 d-flex justify-content-between">
      <span class="badge bg-warning">Pendientes</span>
      <i class='bx bx-circle'></i>
    </div>

    <div class="card-body">
      <h5 class="font-bold">Titulo</h5>
      <small class="text-black-50">Lorem ipsum dolor sit amet consecte, adipisicing elit.</small>
    </div>

    <div class="card-footer border-0 bg-white text-black-50 text-end">
      <i class='bx bx-calendar'></i> 20 May
    </div>
  </div>
</div>
