
<div class="layout">

  <section class="container px-5">
    <div class="card border-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 px-5">
            <img src="../../../../../assets/images/png/logo-atom.png" width="80" alt="logo-atom">
            <router-outlet></router-outlet>
          </div>
          <div class="col-md-6 rounded">
            <img src="../../../../../assets/images/webp/todo.jpg" class="img-fluid" alt="illustration">
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

